.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 2rem auto 0;
  padding: 0 2rem;
}

.logo {
  height: 68px;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
}

/* ---------------------- TABLETTE --------------------- */
@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    padding: 0 1rem;
  }
  .logo {
    height: 40px;
  }

  .nav {
    gap: 30px;
  }

  .nav a {
    font-size: 20px;
  }

  .header-logo {
    height: 55px;
  }
}
/* MOBILE */
@media screen and (max-width: 768px) {
  .logo {
    height: 30px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: 20px auto auto auto;
  }

  .header-logo {
    height: 45px;
  }

  .nav {
    gap: 20px;
  }

  .nav a {
    font-size: 16px;
  }
}
