.property-host-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.host-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.property-page {
  max-width: 1335px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.property-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.property-infos {
  max-width: 60%;
}

.property-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #ff6060;
  margin: 0;
}

.property-location {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

.property-tags {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tag {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.property-host {
  text-align: right;
  display: flex;
  gap: 0.5rem;
}

p {
  margin: 0;
}

.host-name {
  color: #ff6060;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  text-align: right;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.stars {
  font-size: 3rem;
  text-align: left;
}

.property-collapse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .property-top {
    flex-direction: column;
  }

  .property-page {
    padding: 1rem;
  }

  .property-collapse {
    grid-template-columns: 1fr;
  }

  .property-infos {
    max-width: 100%;
  }

  .property-host {
    align-items: flex-start;
    text-align: left;
  }

  .property-host-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
  }

  .property-rating {
    order: 1;
    display: flex;
    gap: 4px;
    font-size: 18px;
  }

  .host-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    order: 2;
  }

  .host-name {
    text-align: right;
    font-size: 14px;
    color: #ff6060;
  }

  .host-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .stars {
    font-size: 2rem;
    text-align: left;
  }

  .property-page {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
  }
  .property-title {
    font-size: 18px;
    font-weight: bold;
    color: #ff6060;
    margin-top: 0;
  }
  .property-location {
    font-size: 14px;
    font-weight: 500;
    color: black;
  }
  .collapse-header {
    height: 18px;
    background-color: #ff6060;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
    font-size: 12px;
  }
}
