.footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

.footer-logo {
  height: 40px;
  margin-bottom: 1rem;
  filter: brightness(0) invert(1);
}

.footer-text {
  font-size: 0.9rem;
  color: #fff;
}

/* Mobile : max 768px */
@media screen and (max-width: 768px) {
  .footer {
    height: 200px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 0.5rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}
